= select_tag "#{model}[#{field}]",
    options_for_select(options, value),
    data: {\
      controller: "selectable",
      url: url,
      field: field,
    },
    class: "w-full py-2 border-none appearance-none shadow-none bg-none hover:bg-gray-50 dark:hover:bg-gray-800 cursor-pointer",
    include_blank: include_blank
