= turbo_stream_action_tag(\
  "replace",
  target: "#{dom_id(@commentable, :comment_pager)}",
  template: %(#{render Comments::Pager.new(commentable: @commentable, pagy: @pagy)}),
)
= turbo_stream_action_tag(\
  "append",
  target: "#{dom_id(@commentable, :comments)}",
  template: %(#{render Comments::Listing.with_collection(@comments)}),
)
