doctype html
html
  head
    title Kokoro
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = turbo_refreshes_with method: :morph, scroll: :preserve

    meta name="viewport" content="width=device-width,initial-scale=1"
    meta name="view-transition" content="same-origin"

    link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin
    link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik&family=Noto&family=Montserrat&family=Finger+Paint&display=swap" rel="stylesheet
    link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap"

    = yield :head

  body
    div class="max-w-5xl mx-auto my-6 lg:my-12 px-3 md:px-4"
      - if notice.present?
        p class="fixed top-4 right-4 py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"
          = notice

      = yield
